.contentbox1 {
      background-image: url(../Image/section1/shop.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

.contentbox2 {
      text-align: center;
      overflow: hidden;
      line-height: 80px;
}

.contentbox3 {
      overflow: hidden;
      white-space: nowrap;
      text-align: center;
      display: inline-block;
}

/* .contentbox4 {} */

@media(max-width:1140px) {
      .block {
            width: 100%;
      }
}
@media(max-width:635px){
      .contentbox2.block{
            font-size: 10px;
            line-height: 40px;
            height: 250px;
      }
}