.section2box {
      width: 50%;
}

.contentboxtext2{
      line-height: 65px;
}



.plugin chrome webkit win x1-5 Locale_zh_TW {
      width: 1000px;
}
._2p3a {
      width: 100%!important;
}

            /* 商品選單列 */

            .buttom {
                  width: 20%;
                  height: 50px;
                  float: left;
                  text-align: center;
                  line-height: 80px;
                  font-size: 24px;
            }

            /* 商品框架 */

            .shopbox {
                  margin: 0 auto;
                  display: flex;
                  justify-content: space-between;

            }

            /* 商品總類 */

            .shoptitle {
                  width: 20%;
                  font-size: 18px;
                  line-height: 60px;
                  text-align: center;
                  float: left;
            }

            .shopheader {
                  height: 60px;
                  background-color: blueviolet;
            }

            .shopmenu {
                  text-align: center;
                  width: 100%;
                  font-size: 18px;
            }

            .shopmenu ul {
                  list-style-type: none;
                  padding-left: 0;
                  margin: 0;

            }

            .shopmenu li>div.product-item {
                  width: 50%;
                  min-height: 1px;
                  float: left;
            }

            .price {
                  display: flex;
            }

            .price>div {
                  width: 50%;
            }

