


/* 時刻店照 */

/* HowAreYou三張輪播 */



.content {
      max-width: 1140px;
      margin: 0 auto;
}

.contentborder {
      margin-top: 10px;
      width: 100%;
      background-color: rgb(44, 44, 44);
      height: 1.5px;
      margin-bottom: 30px;
}

.textbox {
      padding-left: 80px;
      text-align: justify;
}

.contentbox6-box-data {
      position: absolute;
      width: 25%;
      height: 60%;
      margin-top: 13.4px;
      background-color: black;
      font-size: 18px;
      color: blanchedalmond;
      text-align: center;
      line-height: 43.2px;
}

.contentbox6-box-icon img {
      position: absolute;
      right: 50px;
      top: 21.6px;
      height: 30px;
}

.contentbox6-box-innertext {
      position: absolute;
      font-size: 18px;
      left: 160px;
      top: 30px;
}

.contentbox6-box-more {
      width: 60px;
      height: 30px;
      background-color: black;
      float: right;
      margin: 10px 20px 0px 0px;
      color: #fff;
      line-height: 22.5px;
      text-align: center;
      border-radius: 5%;
}


.contenttextbox6 {
      font-size: 18px;
      text-align: center;
      padding: 20px 0px 40px;
      line-height: 40px;
      width: 100%;
}