.contentbox1 {
      background-image: url(../Image/section1/shop.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

.contentbox2 {
      text-align: center;
      overflow: hidden;
      line-height: 80px;
}

.contentbox3 {
      overflow: hidden;
      white-space: nowrap;
      text-align: center;
      display: inline-block;
}

.conentbox3-left {
      width: 35%;
      float: left;
      padding-top: 20px;
}

.conentbox3-left-box {
      padding: 10px 0px;
}

.conentbox3-broder {
      position: absolute;
      display: inline-block;
      background-color: black;
      margin: 0px 0px 80px 30px;
      width: 5px;
      height: 30px;
}

.conentbox-right {
      width: 65%;
      float: left;
      padding-top: 20px;
}

.conentbox3-right-box {
      padding: 10px 0px;
}

.conentbox3-right-box .text6 {
      text-align: justify;
      float: left;
}

.contentbox4 {
      margin-bottom: 60px;
}

.contentbox5 {
      float: left;
      width: 50%;
      height: 400px;
      margin-bottom: 20px;
}

.contentbox5photo {
      width: 100%;
      height: 100%;
}

.contentbox6 {
      width: calc(50% - 20px);
      padding: 0px 10px;
      height: 550px;
      float: left;
      margin-bottom: 50px;
      
}

.contentbox6-box {
      width: 100%;
      height: 17%;
      background-color: white;
}

.contentbox6 block {
      width: 100%;
}

.contentbox6-box-data {
      width: 25%;
      margin-top: 13px;
      background-color: black;
      font-size: 18px;
      color: blanchedalmond;
      text-align: center;
      line-height: 43.2px;
      float: left;
}

.contentbox6-box-icon img {
      height: 30px;
      margin-top: 20px;
      float: left;
}

.contentbox6-box-innertext {
      float: left;
      font-size: 15px;
      width: calc(60% - 40px);
      height: 70px;
      line-height: 70px;
      padding: 0px 20px 0px;
      word-break: break-all;
}

.contentbox6-box-more {
     background-color: black;
     height: 7%;
     width: 10%;
     margin-top: 10px;
     text-align: center;
     font-size: 20px;
     color: antiquewhite;
     float: right;
     margin-right: 5%;
}

/* .contenttextbox6 {
      font-size: 18px;
      text-align: center;
      padding: 20px 0px 40px;
      line-height: 40px;
      width: 100%;
} */

.contentbox6-border {
      background-color: black;
      width: 98%;
      height: 2px;
}

@media(max-width:1140px) {
      .block {
            width: 100%;
      }
}

@media(max-width:635px) {
      .contentbox2.block {
            font-size: 12px;
            line-height: 40px;
            height: 250px;
      }
      .contentbox3 {
            font-size: 12px;
      }
      .conentbox3-broder {
            margin: 0px 0px 0px 5px;
            width: 2.5px;
            height: 15px;
      }
      .contentbox3.block {
            height: 300px;
      }
      .contentbox6-box-icon img {
            margin-left: 0px;
      }
      .contentbox6-box-innertext {
            padding: 0px 0px 0px 10px;
            font-size: 9px;
            width: calc(70% - 40px);
      }
      .contentbox6-box-data {
            font-size: 11px;
      }
      .contentbox6-box:hover .contentbox6-box-icon img {
            margin-left: 0px !important;
      }
      .again {
            line-height: 30px;
      }
      .font24px {
            font-size: 9px;
      }
}