.contentboxtitle {
      float: left;
      width: 100%;
      padding: 40px 0px;
}

.contentbox7 {
      float: left;
      width: 50%;
      height: 400px;
      margin-bottom: 20px;
}

.contentbox8 {
      width: calc(50% - 20px);
      padding: 0px 10px;
      height: 400px;
      float: left;
}

.contentright-box {
      width: 100%;
      height: 18%;
      background-color: white;
}

.contentbox8-box-innertext {
      float: left;
      font-size: 20px;
      width: calc(50% - 40px);
      height: 70px;
      line-height: 70px;
      padding: 0px 0px 0px 10px;
      word-break: break-all;
      font-size: 15px;
}

.contentright-box-data {
      width: 15%;
      height: 60%;
      margin-top: 13px;
      background-color: black;
      font-size: 18px;
      color: blanchedalmond;
      text-align: center;
      line-height: 43.2px;
      float: left;
}

.contentbox8-box-more {
      background-color: black;
      height: 7%;
      width: 10%;
      margin-top: 10px;
      text-align: center;
      font-size: 20px;
      color: antiquewhite;
      float: right;
}

.contentright-box-more {
      width: 60px;
      height: 7.5%;
      background-color: black;
      float: right;
      margin: 10px 20px 0px 0px;
      color: #fff;
      line-height: 22.5px;
      text-align: center;
      border-radius: 5%;
}

.contentbox-border {
      position: absolute;
      height: 2px;
      width: 50%;
      background-color: black;
      margin: 60px 0px 0px;
}

.contentleft {
padding: 0 10px ;
margin-right: -15px;
}

@media(max-width:1140px) {
      .block {
            width: calc( 100% - 20px);
      }
      .contenttext {
            padding-left: 0% !important;
      }
      .contentbox-border {
            width: 98%;
      }
      .font24px.again {
            font-size: 20px;
      }
      .mar-100 {
            margin-bottom: 100px;
      }
      .contentboxyoutube {
            margin: 0 auto;
            padding: 0px 7% 10px !important;
            width: 80%;
      }
      .contentbox7-box {
            padding: 0px 15% 0px;
      }
      .contentbox7-block {
            margin-bottom: 100px;
      }
      .content-border {
            width: 70%;
      }
      .contentright-box-data {
            width: 25%;
      }
      .contentbox8-box-innertext {
            width: calc(65% - 40px);
      }
      .contentbox8-box-more-block {
            padding-right: 6%;
      }
      .contentleft {
            padding-right: 10px;
      }
}