/* 女僕圖片 */

.maid01 {
      background-image: url(../Image/maid/瓜.jpg);
}

.maid02 {
      background-position-x: 0px;
      background-image: url(../Image/maid/牛角.jpg);
}

.maid03 {
      background-position-x: 0px;
      background-image: url(../Image/maid/未夢.jpg);
}

.maid04 {
      background-image: url(../Image/maid/林零.jpg);
}

.maid05 {
      background-image: url(../Image/maid/小鹿.jpg);
}

.maid06 {
      background-image: url(../Image/maid/MIU.jpg);
}

.maid07 {
      background-image: url(../Image/maid/MIU.jpg);
}

.maid08 {
      background-image: url(../Image/maid/芭比.jpg);
}

.maid09 {
      background-position-y: 0px;
      background-image: url(../Image/maid/璐奇.jpg);
}

/* 相片區域 */

.content-maid {
      width: 100%;
      padding-top: 50px;
}

/* 框架規格 */

.maidcard {
      width: 27%;
      float: left;
      margin-left: 4.85%;
      margin-bottom: 50px;
}

/* 照片相框 */

.maidcardphoto {
      /* width: calc(100% - 50px); */
      width: 100%;
      padding: 25px 25px;
      height: 250px;
      background-color: #91B5FA;
}

/* 女僕名字 */

.maincardbody {
      height: 50px;
      line-height: 50px;
      font-size: 18px;
      text-align: center;
      background-color: #8F97E2;
}

/* 女僕照 */

.maidphoto {
      height: 100%;
      width: 100%;
      background-position: center;
      background-size: cover;
}

.contentboxyoutube {
      padding-left: 25%;
      margin-bottom: 50px;
}

.contenttext {
      padding-left: 25%;
}

.contentbox8-box-more-block {
      padding-right: 31%;
}

@media(max-width:1140px) {
      .maidcard {
            width: 43%;
      }
      .maidcardphoto {
            height: 400px;
      }
}

@media(max-width:635px) {
      .maidcard {
            width: 43%;
      }
      .maidcardphoto {
            padding: 10px;
            height: 150px;
            width: calc(100% - 20px);
      }
}